/Choice.class
/Confirmation.class
/Confirmation2.class
/CustomIcon.class
/CustomLogin.class
/Error.class
/ExceptionDialog.class
/ExceptionDialog2.class
/Information.class
/TextInput.class
/Warning.class
